.DS_Store

ReloadLauncher/Windows/ReloadLauncher.vcxproj.user
ReloadLauncher/Windows/Debug
ReloadLauncher/Windows/ipch
ReloadLauncher/Windows/ReloadLauncher.sdf
ReloadLauncher/Windows/ReloadLauncher.suo
ReloadLauncher/Windows/ReloadLauncher.vcxproj.filters
ReloadLauncher/Windows/ReloadLauncher.opensdf
ReloadLauncher/Windows/ReloadLauncher.sdf
ReloadLauncher/Windows/ReloadLauncher.aps

ReloadClient/Output
ReloadClient/Clients
ReloadClient/ReleasePackages
ReloadClient/.mosyncproject.local
ReloadClient/Resources/LocalFiles.bin

ReloadServer/ReloadLauncher.bat
ReloadServer/lastWorkspace.dat
ReloadServer/stats.dat
ReloadServer/config.dat

ReloadLauncher/Mac/Reload.app

/NewReloadServer/MoSync_Reload_Projects/
/NewReloadServer/lastWorkspace.dat

Build
node_modules/.bin/buster
node_modules/.bin/buster-autotest
node_modules/.bin/buster-server
node_modules/.bin/buster-static
node_modules/.bin/buster-test
node_modules/buster
