.DS_Store

ReloadLauncher/Windows/ReloadLauncher.vcxproj.user
ReloadLauncher/Windows/Debug
ReloadLauncher/Windows/ipch
ReloadLauncher/Windows/ReloadLauncher.sdf
ReloadLauncher/Windows/ReloadLauncher.suo
ReloadLauncher/Windows/ReloadLauncher.vcxproj.filters
ReloadLauncher/Windows/ReloadLauncher.opensdf
ReloadLauncher/Windows/ReloadLauncher.sdf
ReloadLauncher/Windows/ReloadLauncher.aps

ReloadClient/Output
ReloadClient/Clients
ReloadClient/ReleasePackages
ReloadClient/.mosyncproject.local
ReloadClient/Resources/LocalFiles.bin

ReloadServer/ReloadLauncher.bat
ReloadServer/lastWorkspace.dat

ReloadLauncher/Mac/Reload.app

Build
