<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <button type="button" class="close"
            data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Connected clients</h3>
    </div>
    <div id="device-list-container" class="modal-body"></div>


    <div class="modal-footer">
        <button id="submit" class="btn btn-primary">Ok</button>
    </div>
</div>

