html, body {
    height: 100%;
}

iframe {
    border: 0;
    height: 100%;
}

#bar-left ul {
    list-style: none;
    margin: 0;
}
#bar-left ul li {
    display: inline-block;
}

#wrap {
    min-width: 820px;
    width:100%;
    overflow:hidden;
}

#banner {
    height: 40px;
    border-bottom: 1px solid rgb(184, 184, 184);
    background: rgb(216, 221, 228);
}
#banner #banner-message {
    height: 40px;
    padding: 10px;
    display: none;
}

#banner #mosync-logo {
    width: 91px;
    height: 30px;
    float: right;
    margin-right: 25px;
    background: url('../img/MoSync-logo-top.png') no-repeat;
    background-position: 0 5px;
}
#banner #reload-logo {
    min-width: 301px;
    width: 148px;
    height: 40px;
    float: left;
    background: url('../img/Reload-logo-top.png') no-repeat;
    background-position: 10px 5px;
}
#banner #banner-content {
    position: relative;
    margin: 0 0 0 301px;
    height: 40px;
    white-space: nowrap;
}

#bar-left {
    position: relative;
    float: left;
    background: rgb(216, 221, 228);
    width: 300px;
    border-top: 1px solid #fff;
}
#bar-left-head {
    background: #efefef;
    border-bottom: 1px solid rgb(206, 206, 206);
}
#bar-left-head #powered-by {
    background: #ccc;
    height: 29px;
}

#bar-left-head #reload-button,
#bar-left-head #debug-button {
    width: 138px;
    display: inline;
    margin: 0;
}

#bar-left-head #reload-button { }
#bar-left-head #debug-button { float: right;}



#bar-left .nav-top {
    padding: 10px 0;
    background: rgb(238, 238, 238);
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgb(227, 228, 227);

    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */

}

#bar-left .project-head {
    background: #fff;
}

#bar-left .project-name {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}
#bar-left .project-name-clip {
    width: 120px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}


#bar-left a.btn-nostyle,
#bar-left a.btn-nostyle:hover {
    font-size: 12.9px;
    text-decoration: none;
    color: #262626;
    padding: 2px 10px;
}

#main-content {
    position: relative;
    background: #eee;
    margin: 0 0 0 300px;
    border-left: 1px solid rgb(184, 184, 184);
}

#main-content #content-nav {
    border-top: 1px solid #fff;
    height: 49px;
    position: absolute;
    top: 0;
}

#main-content #content-nav ul {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
}
.nav-tabs > li > a {
    padding-top: 10px;
}


#main-content #content {
    position: absolute;
    background: #fff;
    top: 51px;
    bottom: 41px;
    overflow: auto;
}

#main-content #content h1 {
    font-size: 25px;
    color: #888;
}
#main-content #content h3 {
    font-size: 18px;
    color: #888;
    padding-left: 10px;
    background: #eee;
}
#main-content #content .capital {
    font-size: 28px;
    font-weight: bold;
    color: #ccc;
    margin: 10px;
}

#main-content #content .docs {
    height: 100%;
}

#main-content #console {
    background: #fff;
    height: 40%;
    position: absolute;
    bottom: 0;
}
#main-content #console div.span12 {
    border-top: 1px solid rgb(221, 221, 221);
}

.weinre {
    position: absolute;
    width: 100%;
    top: 10px;
    bottom: 0;
}

#content .dl-horizontal,
.CodeMirror {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 22px;
    overflow: auto;
    margin: 0;
    border-bottom: 1px solid #bdbdbd;
}
.CodeMirror {
    height:auto;
}

#content .dl-horizontal dt {
    width: 100px;

}
#content .dl-horizontal dd {
    margin-left: 120px;

}
#content #controls {
    position: absolute;
    bottom: 0;
    height: 21px;
    width: 100%;

    background: rgb(238, 238, 238);
    border-top: 1px solid #fff;

    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
#content #log-controls form {
    margin: 0 20px 20px 0;
    float: right;
}

.fill {
    height: 100%;
    min-height: 100%;

}
.pad10 { padding: 10px; }

.project-list {
    position: absolute;
    top: 97px;
    bottom: 241px;
    width: 100%;
    overflow: auto;
    border-top: 1px solid #bdbdbd;
}


ul#projects {
}

.project-list,
ul#files {
    border-top: 1px solid #bdbdbd;
}

ul#projects li,
ul#files li {
    display: block;
}

ul#files li a {
    color: #262626;
    border-top: 1px solid rgb(216, 221, 228);
    border-bottom: 1px solid rgb(216, 221, 228);

    display: block;
    padding-left: 10px;
}
ul#projects li a {

    color: #262626;
    border-top: 1px solid rgb(216, 221, 228);
    border-bottom: 1px solid rgb(216, 221, 228);

    display: block;
    padding: 10px;
}
ul#projects li a:hover {
    text-decoration: none;
}

form.rename {
    margin: 0;
    padding: 0;
}
form.rename input {
    width: 100px;
    margin: 0;
    padding: 0;
    border: 0;
    height: 18px;
}

.selected,
ul#projects li a:active,
ul#projects li a.select-project {
    border-top: 1px solid rgb(147, 173, 203);
    border-bottom: 1px solid rgb(105, 132, 162);

    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 0 #888888;

    background: #9bb6d6; /* Old browsers */
    background: -moz-linear-gradient(top,  #9bb6d6 0%, #7a99bd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bb6d6), color-stop(100%,#7a99bd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9bb6d6 0%,#7a99bd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9bb6d6 0%,#7a99bd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9bb6d6 0%,#7a99bd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9bb6d6 0%,#7a99bd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bb6d6', endColorstr='#7a99bd',GradientType=0 ); /* IE6-9 */
}

#bar-left-foot {
    overflow: auto;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 41px;
    border-top: 1px solid rgb(178, 194, 190);
    background: rgb(216, 221, 228);
}
#bar-left-foot .inner {
    border-top: 1px solid rgb(224, 229, 234);
}

.dl-horizontal dt {
    width: 40%;
}

.dl-horizontal dd {
    margin-left: 45%;
}
.select-project {
    position: relative;
}

.select-project ul {
    position: absolute;
    bottom: 10px;
    right: 0;
    padding: 0 !important;
}
.select-project ul li {
    padding: 0 !important;
    float: right;
}
.select-project ul li a {
    padding: 0 !important;
    margin-right: 10px;
    border: 0 !important;
    background: none;
    color: #fff !important;
    text-decoration: underline;
}
.select-project ul li a:hover {
    text-decoration: underline !important;
    color: #eee !important;
}
.select-project ul li a:active {
    background: 0 !important;
}
.radio.inline {
    white-space: nowrap;
    margin-right: 10px;
}

/**
 * Remote Log Panel CSS Styles
 */
.errorContainer {
    background-color: #FFEBEB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px #DDDDDD solid;
    margin-bottom: 3px;
}

.RemoteErrorHeader {
    color: red;
}

.RemoteErrorBody {
    color: green;
    padding-left: 35px;
}

.rlogContainer {
	background-color: #EEEEEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px #DDDDDD solid;
    margin-bottom: 3px;
}

.rlogHeader {
    color: #0088cc;
}

.rlogBody {
    color: #333333;
    padding-left: 35px;
}

#clear,
#do-selection {
    margin-left: 5px;
    white-space: nowrap;
}
#clear i,
#do-selection i {
    margin-right: 8px;
}
