<div id="new-project-dialog" title="New widget">
    <label>Project Type:</label>
    <br/>
    <br/>
    <input type="radio" name="projectType" id="projectType" value="native" />
    NativeUI Based
    <br/>
    <br/>
    <input type="radio" name="projectType" id="projectType" checked="true" value="web" />
    Web based
    <br/>
    <br/>
    <br/>
    <label>Project Name:</label>
    <input type="text" name="newProjectName" id="newProjectName" class="text ui-widget-content ui-corner-all"/>
    <br/>
</div>

