<div class="span12 pad10">
<div class="row-fluid">
    <div class="span6">
        <h1>Quick Start</h1>
    </div>

    <div class="span3">
        <div class="pull-right">
            See also:
        </div>
    </div>
    <div class="span3">
        <ul>
            <li>
            <a target="_blank" href="http://www.mosync.com/content/using-mosync-reload">Guides & Tutorials</a>
            </li>
            <li>
            <a target="_blank" href="http://www.mosync.com/mobile-development-forums/technologies/mosync-reload">Discusscion forum</a>
            </li>
            <li>
            <a data-target-tab="docs" href="/#/docs">Wormhole API Reference</a>
            </li>
        </ul>
    </div>
</div>
    <div class="row-fluid">
        <h3>Connecting a Device</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    Get the Reload Client and install it on your
                    device/emulator (full instructions
                    <a target="_blank" href="http://www.mosync.com/documentation/manualpages/installing-mosync-reload">here</a>).
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    Start the Reload Client on the device/emulator.
                </div>
            </div>
        </div>
        <div class="span3">

            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">3.</span>
                </div>
                <div class="span10">
                    In the Reload Client, enter the Reload Server IP-address:
                    <strong class="serverip"></strong>
                </div>
            </div>
        </div>
        <div class="span3">

            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">4.</span>
                </div>
                <div class="span10">
                    In the Reload Client, click <strong>Connect</strong>.
                    (When connected, the client details will be shown below, left.)
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h3>Starting a Project</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">

            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    Click the <button class="btn btn-mini">New
                        Project</button> button.<br />
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    Select a template:
                    <ul>
                        <li>
                        <strong>Web based</strong> for a consistent look and feel across all platforms.
                        </li>
                        <li>
                        <strong>Native UI based</strong> for each platform’s own native look-and-feel.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">3.</span>
                </div>
                <div class="span10">
                    Name your project (lowercase, alphanumeric characters and underscores only, no spaces).
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">4.</span>
                </div>
                <div class="span10">
                    Click the <button class="btn btn-mini
                        btn-primary">Create Project</button> button.<br />
                    Your project will be created with the needed HTML, CSS and JavaScript files.
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h3>Editing a Project</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    Highlight the project’s name.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    Select <strong>Open</strong>.<br />
                    Your project’s files are shown in your file browser.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">3.</span>
                </div>
                <div class="span10">
                    Edit the HTML, JavaScript and CSS files, as desired, and save your changes.
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h3>Reloading a Project</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    Highlight the project’s name.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    Click the <button class="btn btn-primary
                        btn-mini">Reload</button> button.<br />
                    Your project will be loaded/reloaded on the device/emulator and executed.
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h3>Debugging Using weinre</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    Highlight the project’s name.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    Click the <button class="btn
                        btn-mini">Debug</button> button.<br />
                    Your project will be loaded/reloaded on the
                    device/emulator and executed in debug mode.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">3.</span>
                </div>
                <div class="span10">
                    Go to the <a href="/#/debug">Debug</a> tab where you
                    select a device from a list of targets.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">4.</span>
                </div>
                <div class="span10">
                    Now you can use debugging functionality on your app
                    such as element inspection under <strong>Debug -> Elements</strong>
                    or track console output in <strong>Debug -> Elements</strong> tabs.
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h3>Debugging with Workbench</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    Select <a href="/#/workbench">Workbench (beta)</a>
                    tab.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    Evaluate javascript by
                    <ul>
                        <li>Type a valid JavaScript expression</li>
                        <li>Select it</li>
                        <li>Press "<i class="icon-play"></i> Do it"
                        button on the bottom.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">3.</span>
                </div>
                <div class="span10">
                    Output from <code>mosync.rlog</code> and any debug
                    information will appear in the <a
                    href="/#/log">Log</a> tab.
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h3>Debugging Using mosync.rlog</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    Add <strong>rlog</strong> statements to your JavaScript code, for example:
                    <code>mosync.rlog("Hello World");</code><br />
                    (<a target="_blank" href="http://www.mosync.com/documentation/manualpages/debugging-javascript-rlog">Tutorial</a>)
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    Click the <button class="btn btn-primary
                        btn-mini">Reload</button> button.<br />
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">3.</span>
                </div>
                <div class="span10">
                    As your code executes, the rlog output will be displayed
                    here on the <a data-target-tab="log" href="#/log">Log</a> tab.
                </div>
            </div>
        </div>
    </div>
</div>
