<div class="span12 pad10">
<div class="row-fluid">
    <div class="span6">
        <h1>Quick Start</h1>
    </div>

    <div class="span3">
        <div class="pull-right">
            See also:
        </div>
    </div>
    <div class="span3">
        <ul>
            <li>
            <a target="_blank" href="http://www.mosync.com/content/using-mosync-reload">Guides & Tutorials</a>
            </li>
            <li>
            <a target="_blank" href="http://www.mosync.com/mobile-development-forums/technologies/mosync-reload">Discusscion forum</a>
            </li>
            <li>
            <a data-target-tab="docs" href="/#/docs">Wormhole API Reference</a>
            </li>
        </ul>
    </div>
</div>
    <div class="row-fluid">
        <h3>Connecting to a Device</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    <a target="_blank" href="http://www.mosync.com/documentation/manualpages/installing-mosync-reload">Install the Reload Client</a> on your
                    device/emulator.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    Launch the Reload Client on the device/emulator.
                </div>
            </div>
        </div>
        <div class="span3">

            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">3.</span>
                </div>
                <div class="span10">
                    In the Reload Client, enter the Reload Server IP-address:
                    <strong class="serverip"></strong>
                </div>
            </div>
        </div>
        <div class="span3">

            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">4.</span>
                </div>
                <div class="span10">
                    In the Reload Client, click <strong>Connect</strong>.
                    (Client connection details are shown in the botton left panel.)
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h3>Starting a Project</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">

            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    Click the <button class="btn btn-mini">New
                        Project</button> button.<br />
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    Select a template:
                    <ul>
                        <li>
                        <strong>Web based</strong> for a consistent look and feel across all platforms.
                        </li>
                        <li>
                        <strong>Native UI based</strong> for each platform’s own native look-and-feel.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">3.</span>
                </div>
                <div class="span10">
                    Name your project (lowercase, alphanumeric characters and underscores only, no spaces).
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">4.</span>
                </div>
                <div class="span10">
                    Click the <button class="btn btn-mini
                        btn-primary">Create Project</button> button.<br />
                    Your project will be created with the needed HTML, CSS and JavaScript files.
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h3>Editing a Project</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    Highlight the project’s name.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    Select <strong>Open</strong>.<br />
                    Your project’s files are shown in your file browser.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">3.</span>
                </div>
                <div class="span10">
                    Open the files you wish to edit in your favourite editor, and save your changes when done.
                    (For example, edit <strong>index.html</strong>, make some changes, save and Reload to see the result.)
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h3>Reloading a Project</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    Highlight the project’s name.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    Click the <button class="btn btn-primary
                        btn-mini">Reload</button> button.<br />
                    Your project will be loaded/reloaded on the device/emulator and executed.
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h3>Debugging with weinre</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    Highlight the project’s name.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    Click the <button class="btn
                        btn-mini">Debug</button> button.<br />
                    Your project will be loaded/reloaded on the
                    device/emulator and executed in debug mode.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">3.</span>
                </div>
                <div class="span10">
                    Go to the <a href="/#/debug">Debug</a> tab.
                    <strong>Note:</strong> If you move to other tabs in Reload,
                    winre disconnects, and you need to select the device in
                    the <strong>Targets</strong> list again to enable winre.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">4.</span>
                </div>
                <div class="span10">
                    Use winre tools such as the DOM element inspector
                    and console log to debug your app.
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h3>Using the Workbench</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    Select the <a href="/#/workbench">Workbench</a> tab.
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    In the Workbench editor, you can evaluate JavaScript code by
                    <ul>
                        <li>typing some JavaScript code</li>
                        <li>selecting the code you wish to run</li>
                        <li>pressing the <i class="icon-play"></i> <strong>Do&nbsp;it</strong>
                        button at the bottom of the editor view</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">3.</span>
                </div>
                <div class="span10">
                    Output from <code>mosync.rlog</code> and any debug
                    information will appear in the <a
                    href="/#/log">Log</a> tab. If you select a JavScript
                    expression that returns a value, it will be shown in the Log tab
                    (return values of type "undefined" are not displayed).
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h3>Using mosync.rlog</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">1.</span>
                </div>
                <div class="span10">
                    To do debug logging, add <strong>mosync.rlog</strong> statements to your
                    JavaScript code, for example:
                    <code>mosync.rlog("Hello World");</code><br />
                    (For further details, read the <a target="_blank" href="http://www.mosync.com/documentation/manualpages/debugging-javascript-rlog">tutorial</a>.)
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">2.</span>
                </div>
                <div class="span10">
                    Reaload your app by clicking the <button class="btn btn-primary
                        btn-mini">Reload</button> button.<br />
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span2">
                    <span class="capital">3.</span>
                </div>
                <div class="span10">
                    As your code executes, the mosync.rlog output will be displayed
                    under the <a data-target-tab="log" href="#/log">Log</a> tab.
                </div>
            </div>
        </div>
    </div>
</div>
