<div class="span12 pad10">
<h1 class="c3"><span>Welcome to MoSync Reload!</span></h1>


<p class="c3">
<span><b>Quick Start:</b> Launch the ReloadClient on your device, enter the server IP-address shown under tab "Network Info", and connect. Send debug messages from JavaScript using: <code>mosync.rlog("Hello World");</code> Messages appear under tab "Remote Log".</span>
</p>
<p class="c3">
<span>MoSync Reload is a tool for rapid development of mobile applications in HTML5 and JavaScript for iOS, Android and Windows Phone.</span>
</p>

</div>
