<div id="file-options">
<ul>
    <li>
        <a id="change-workspace" href="/" title="Change workspace">
            <img src="img/change-workspace.png" width="36" height="38" onmouseover="this.src='img/change-workspaceh.png'" onmouseout="this.src='img/change-workspace.png'">
        </a>
    </li>

    <li>
        <a id="add-project" href="/" title="Add project">
            <img src="img/open-files.png" width="36" height="38" onmouseover="this.src='img/open-filesh.png'" onmouseout="this.src='img/open-files.png'">
        </a>
    </li>

    <li>
        <a id="update-project-list" href="/" title="Refresh files">
            <img src="img/refresh-files.png" width="36" height="38" onmouseover="this.src='img/refresh-filesh.png'" onmouseout="this.src='img/refresh-files.png'">
        </a>
    </li>

</ul>
</div>
