<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button-->
        <h3 id="myModalLabel">Statistics</h3>
    </div>
    <div class="modal-body">

        <form class="form-horizontal">
            <p>
            Please help us improve MoSync Reload by letting us collect usage statistics. For information about the statistics we will collect, please read our <a href="http://www.mosync.com/pages/privacy-statement" target="_blank">PRIVACY STATEMENT</a> at our website.
            </p>
            <div class="control-group">
                <div class="control-label" for="project-name">Allow Statistics Collection</div>
                <div class="controls">
                    <label class="radio inline">
                        <input type="checkbox" name="statistics" id="statsCheckbox" checked="true">
                    </label>
                </div>
            </div>

        </form>


    </div>
    <div class="modal-footer">
        <button id="submit" class="btn btn-primary">Start Reload!</button>
    </div>
</div>
