<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button-->
        <h3 id="myModalLabel">Statistics Collection</h3>
    </div>
    <div class="modal-body">

    <form class="form-horizontal">
        <p>
            Welcome to MoSync's Reload! Since it's the first time you use Reload
            you have to configure if you want to help us improving our products
            by collecting anonymous statistic information about the use of Reload. 
            The information to be sent to MoSync are the Reload Version you are using 
            the devices used and the number of reloads. All the informations are 
            sent anonymously.
        </p>
        <div class="control-group">
            <div class="control-label" for="project-name">Allow Statistics Collection</div>
            <div class="controls">
                <label class="radio inline">
                    <input type="checkbox" name="statistics" id="statsCheckbox" checked="true">
                </label>
            </div>
        </div>

    </form>


    <div class="modal-footer">
        <button id="submit" class="btn btn-primary">Start Reload!</button>
    </div>
</div>