<textarea>
// Welcome to the Reload JavaScript Workbench!
// 
// Once you have connected to a device and loaded/reloaded a web-based
// project you can use this workbench to evaluate JavaScript code.
//
// To evaluate JavaScript, highlight one or more lines of code then
// click the "Run Selected Code" link at the bottom of the editor view.
//
// NOTE: if you are reloading a project NOT created by this version
// of Reload, update your project's wormhole.js file before using the
// workbench. For more information see 
// http://www.mosync.com/documentation/manualpages/update-wormhole
//
// Error messages and return values are shown on Reload's "Log" tab
// (return values of type "undefined" are not shown).
//
// Try out the following lines of JavaScript (one at a time):
//
mosync.rlog('Hello World') // Displayed in Log tab
mosync.app.openExternalURL('http://maps.google.com/')
mosync.app.screenSetOrientation(mosync.SCREEN_ORIENTATION_LANDSCAPE)
mosync.app.screenSetOrientation(mosync.SCREEN_ORIENTATION_PORTRAIT)
mosync.app.screenSetOrientation(mosync.SCREEN_ORIENTATION_DYNAMIC)
document.body.innerHTML = '<h1>Hello World</h1>'
</textarea>
