<textarea>
// Welcome to the JavaScript Workbench!
// 
// When you are connected to a device, you can evaluate JavaScript.
// For full functionallity you should first reload a web based project 
// to your device. To evaluate JavaScript highlight one or several lines 
// of code and then click
// "Do it" at the bottom of the editor view.

// Please note :-
// If you are using a project not created by this version of Reload, 
// you should update the project(wormhole.js). For more information see 
// http://www.mosync.com/documentation/manualpages/update-wormhole
//
// Error messages and return values are shown under the "Log" tab
// (return values of type "undefined" are not shown).
//
// For example, try out the following lines (one at a time):
mosync.rlog('Hello World') // Displayed in Log tab
mosync.app.openExternalURL('http://maps.google.com/')
mosync.app.screenSetOrientation(mosync.SCREEN_ORIENTATION_LANDSCAPE)
mosync.app.screenSetOrientation(mosync.SCREEN_ORIENTATION_PORTRAIT)
mosync.app.screenSetOrientation(mosync.SCREEN_ORIENTATION_DYNAMIC)
document.body.innerHTML = '<h1>Hello World</h1>'
</textarea>
